{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap-datetimepicker.css">
{% endblock extrastyle %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Ordine {{ordine.InternalOrdNo }} </h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            {% if user.is_superuser %}
                            <p><a href="/admin/home/order/{{ ordine.pk }}/change/" class="btn btn-primary">Ordine nel database</a></p>
                            {% endif %}
                            <p>Questi dati sono importati ed aggiornati automaticamente dal database del Centro Del Serramento, non sono modificabili dal planner.</p>
                            <p>Questa pagina e' solo visibile ai manager, non e' accessibile a posatori e clienti</p>
                            <p>Ragione sociale: <b>{{ ordine.CompanyName }}</b></p>
                            <p>Indirizzo cantiere: Dovrebbe essere in Mago ma attualmente manca</p>
                             <p>Indirizzo: {{ ordine.Address }} {{ ordine.ZIPCode }} {{ ordine.City }}
                                {{ordine.County }}</p>
                            <h3>Servizi</h3>
                            <ul>
                                {% for line in ordine.lista_servizi %}
                                    <li>{{ line }}</li>
                                {% endfor %}
                            </ul>
                            <form method="post">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                {% bootstrap_form form %}
                                {% buttons %}
                                <button type="submit" class="btn btn-primary">Salva</button>
                                {% endbuttons %}
                            </form>
                            <h3>Materiali</h3>
                            <ul>
                            {% for riga in ordine.lista_materiali %}
                            <li>{{ riga.RgDescription }} - <b>{{ riga.RgItem }}</b>: {{ riga.RgQty }} {{ riga.RgUoM }}</p>
                            {% endfor %}
                            </ul>
                            <h3>Descrizione completa ordine</h3>
                            {% for riga in ordine.righe_ordine %}
                            <p>{{ riga.RgDescription }}</p>
                            {% endfor %}
                            <h3>Pose</h3>
                            {% for posa in pose %}
                                <p> <a href="/posa/{{posa.pk}}">
                                    
                                    <i class="fas fa-circle f-10 m-r-15" style="color:{{ posa.stato.colore}}"></i>
                                    {{ posa.data |default_if_none:"Data da decidere"   }} ({{ posa.stato | default_if_none:"" }})</a></p>
                            {% endfor %}
                            <a href="/crea-posa/{{ordine.ordine_url}}">
                                <button type="button" class="btn btn-primary">Crea nuova posa</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
<script src="/static/assets/js/bootstrap-datetimepicker.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        if (window.jQuery().datetimepicker) {
            $('#id_data').datetimepicker({
                // Formats
                // follow MomentJS docs: https://momentjs.com/docs/#/displaying/format/
                format: 'DD-MM-YYYY',

                // Your Icons
                // as Bootstrap 4 is not using Glyphicons anymore
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-check',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            });
        }
    });
</script>
{% endblock extra_js %}