{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap-datetimepicker.css">
{% endblock extrastyle %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Appuntamento di posa</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Ragione sociale: <b>{{ posa.order.CompanyName }}</b></p>
                            <p>Indirizzo: {{ posa.order.Address }} {{ posa.order.ZIPCode }} {{ posa.order.City }}
                                {{posa.order.County }}</p>
                            <p>Riferimento ordine:
                                <code>{{ posa.order.InternalOrdNo }}</code>
                            </p>
                            {% if user.is_authenticated %}

                            <form method="post">
                                {% csrf_token %}

                                {{ form.non_field_errors }}
                                {% bootstrap_field form.data %}
                                {% bootstrap_field form.ora %}
                                {% bootstrap_field form.durata_ore %}
                                {% bootstrap_field form.durata_minuti %}
                                {% bootstrap_field form.tipo %}
                                {% bootstrap_field form.descrizione %}
                                {% bootstrap_field form.telefono1 %}
                                {% bootstrap_field form.telefono2 %}
                                {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    Conferma modifiche
                                </button>
                                {% endbuttons %}
                            </form>
                            {% if user.is_superuser %}
                            <div class="alert alert-primary" role="alert">
                                <h5>Area visibile solo a supervisor</h5>
                                <ul>
                                    <li>Posa creata: {{ posa.data_creato }}</li>
                                    <li>Posa modificata: {{ posa.data_modificato }}</li>
                                    <li>Da: {{ posa.utente_modificato_per_ultimo }} </li>
                                </ul>
                              </div>
                            {% endif %}
                            {% else %}
                            <p>Descrizione: {{ form.descrizione.value|default_if_none:"" }}</p>
                            <p>Telefono cliente 1: {{ form.telefono1.value|default_if_none:"" }}</p>
                            <p>Telefono cliente 2: {{ form.telefono2.value|default_if_none:"" }}</p>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
<script src="/static/assets/js/bootstrap-datetimepicker.min.js"></script>
<script>
    jQuery(document).ready(function ($) {
        if (window.jQuery().datetimepicker) {
            $('#id_data').datetimepicker({
                // Formats
                // follow MomentJS docs: https://momentjs.com/docs/#/displaying/format/
                format: 'DD-MM-YYYY',

                // Your Icons
                // as Bootstrap 4 is not using Glyphicons anymore
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-check',
                    clear: 'fa fa-trash',
                    close: 'fa fa-times'
                }
            });
        }
    });
</script>
{% endblock extra_js %}