{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="row">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Appuntamento di posa</h5>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="" method="post">
                                {% csrf_token %}
                                <p>Ragione sociale: <b>{{ posa.order.CompanyName }}</b></p>
                                <p>Indirizzo: {{ posa.order.Address }} {{ posa.order.ZIPCode }} {{ posa.order.City }}
                                    {{posa.order.County }}</p>
                                <p>Riferimento ordine:
                                    <code>{{ posa.order.InternalOrdNo }}</code>
                                </p>
                                {{ form.non_field_errors }}
                                {% bootstrap_field form.tipo %}
                                {% bootstrap_field form.descrizione %}
                                {% bootstrap_field form.telefono1 %}
                                {% bootstrap_field form.telefono2 %}
                                {% buttons %}
                                <button type="submit" class="btn btn-primary">
                                    Conferma modifiche
                                </button>
                                {% endbuttons %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}