{% load i18n static admin_datta %}

<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="{% url 'index' %}" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Planner</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigazione</label>
        </li>
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item {% if 'index' in segment %}active{% endif %}">
          {% if request.user.is_superuser %}
          <a href="{% url 'admin:index' %}" class="nav-link ">
          {% else %}
          <a href="{% url 'index' %}" class="nav-link ">
          {% endif %}
            <span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Homepage</span>
          </a>
        </li>

        <li
          data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe"
          class="nav-item pcoded-hasmenu">
          <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                class="feather icon-lock"></i></span><span class="pcoded-mtext">Autenticazione</span></a>
          <ul class="pcoded-submenu">
        {% if not request.user.is_authenticated %}
            <li class=""><a href="{% url 'login' %}" class="">Login</a></li>
        {% else %}
            <li class=""><a href="{% url 'logout' %}" class="">Logout</a></li>
            <li class=""><a href="{% url 'password_reset' %}" class="">Modifica password</a></li>
            {% endif %}
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>